header.container-fluid{
  background-color: #1abc9c;
  height: 700px;
  position: relative;
  padding: 0;
}
div.container-fluid.nav{
  background-color: #3a546d;
  height: 100px;
}
div.container.basso{
  background-color: pink;
  height: 450px;
  margin-top: 50px;
}
h1{
  font-size: 55px;
  color: #ffffff;
}
